<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Jwilson97/gamebust-pup"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    GAMEBUST by <i class="fas fa-heart"></i> PuP
  </div>
</div>
