<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://meeplesgames.com/wp-content/uploads/2017/11/Picture-6r.png);">
  <div class="container">
    <h1>My Rentals Status</h1>
    <p>Cross your fingers, Wait for decision</p>
  </div>
</div>
<div class="container">

  <% @user.rentals.each do |rental| %>
    <li>
      My requested for Game <%= rental.game.title %> from <%= rental.start_date %> to <%= rental.end_date %> is <%= rental.status %>
    </li>
  <% end %>

</div>
