
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "all_games.jpg" %>');">
  <div class="container">
    <h1>All Games</h1>
    <p>Ruin your life, learn to game</p>
  </div>
</div>

<%= render 'cards' %>
